*{
    font-family: sans-serif;
}
body{
    margin:0;
    margin-left:auto;
    margin-right:auto;
    /* background-repeat: no-repeat; */
    background-image:url(http://eskipaper.com/images/free-hd-background-2.jpg);
}
main{
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    background-color: white; 
}
#pagetitle{
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 400;

}
header:first-child{
    background-color: rgb(211, 204, 191);
    color:black;
    padding:1px;
    padding-left: 10px;
}
nav > ul {
    background-color: rgb(146, 156, 199);
    color: white;
    margin:0;
    padding: 5px;
    border-top: 1px solid white;
}
.menu{
    display: inline;
    color: white;
    text-align: center;
    position: relative; 
    z-index: 1;
}
.active{
    background-color: red;
}
.menu a{
    text-decoration: none;
    color:white;
    padding:5px 16px 5px 16px;
}
.toplevel{
 border-right: 1px solid white;
}
.menu div{
    position: absolute;
    top: 100%;
    padding: 0;
    left: 0;
    width: 100px;
    background-color:rgb(146, 156, 199);
    box-shadow: 5px 5px 5px black;
    width:auto;
    text-align: left;
    transform: translateY(5px);
}
.menu div ul{
    padding:0;
    list-style: none;
}
.menu li + li {
    border-top: 1px solid white;
    border-collapse: separate;
}
/* body div ul{ */
body .submenu ul{    
    display: none;
}
.menu:hover ul{
    display: block;
}
.submenu li{
    padding:5px;
}
.submenu li:hover{
    cursor: pointer;
    background-color: rgb(63, 63, 63);
}
.menu a:hover{
    cursor: pointer;
    background-color: rgb(63, 63, 63);
}
header .menu{
    display: none;
}
#welcome{
    width: 280px;
    height:270px;
    background-color: rgb(179, 159, 144);
    text-align: center;
    padding:10px;
    border-radius: 25px;
    position: absolute;
    right:0;
    top:0;
}
#welcomeimage{
    width:58px;
    height: 70px;
    border-radius: 25px;
    padding: 20px; 
    float: left;
    margin:10px;
    background-image: url(katiewelcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px black;
}
#headerlist {
    list-style: none;
    padding-left:0;
}
.socials {
    height:50px;
    width: 50px;
    display:inline-block;
    padding: 5px;
    border-radius: 50px;
}
.socialmedia {
    padding-top: 15px;
    text-align: center;
}
.socials:hover {
    opacity: 0.7;
}
#welcomepane{
    position: relative;
}
#openingpic{
    width:730px;
    height: 290px;
    background-repeat: no repeat;
    background-size: cover;
    background-image: url(openingpic.jpg);
}
.content{
    width:1000px;
    background-color:rgb(249, 228, 213);
}
.mealtype{
    padding-left:40px;
    margin:0;  
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 2px 2px rgb(255, 255, 255);
}
.recipe{
    padding-left:40px;
    position: relative;
    padding-bottom: 20px;
    padding-top:10px;
    border-bottom: 1px solid black;
}
.recipename{
    margin: 0;
    padding-top: 10px;
    color: rgb(180, 58, 58);
    text-shadow: 1px 1px black;
}
#carnitas{
    position: absolute;
    right: 104px;
    top:-30px;
    width: 300px;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
    transform: rotate(-90deg);
}
#chili{
    position: absolute;
    right: 60px;
    top:100px;
    width: 250px;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
}
#quinoa{
    position: absolute;
    right: 60px;
    top:25px;
    width: 250px;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
}
#quinoabowl{
    position: absolute;
    right: 60px;
    bottom:50px;
    width: 250px;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
}
#oatmeal{
    position: absolute;
    right: 60px;
    bottom:30px;
    width: 225px;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
}
#beanbowl{
    position: absolute;
    right: 60px;
    top:40px;
    width: 350px;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
}
#beanbowl2{
    position: absolute;
    right: 60px;
    bottom:30px;
    width: 225px;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
}
.firstrecipe{
    clear: both;
    padding-right: 350px;
}
.secondrecipe{
    clear: both;
    padding-right: 350px;
}
.contentdiv{
    padding-left:40px;
    padding-right: 30px;
    position: relative;
    padding-bottom: 30px;
}
.heading{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
#facts{
    position: absolute;
    width: 425px;
    right: 30px;
    top:100px;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
}
iframe{
    width:400px;
    height: 225px;
}
#helpinghand p{
    width:475px;
    text-indent: 30px;
}
.tips{
    position: relative;
}
.tips p{
    width:900px;
    text-indent: 30px;
    padding-left:40px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.tips .boldme{
    font-weight: bold;
    text-indent: 30px;
}
.tips h3{
    padding-left:40px;
}
.tips h4{
    padding-left:60px;
    padding-bottom: 10px;
    margin-bottom: 0;
    color:rgb(180, 58, 58);
}
.tips .ul-tips2{
    margin-top:0;
    margin-bottom: 0;
    width: 500px;
    padding-left:80px;
    padding-right: 30px;
}
.tips .ul-tips3{
    margin-top:0;
    margin-bottom: 0;
    width: 500px;
    padding-left:80px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.tips .ul-tips1{
    width: 500px;
    padding-left:80px;
    padding-right: 30px;
    padding-bottom: 20px; 
}
#healthypantry{
    position: absolute;
    right: 60px;
    top:200px;
    width: 275px;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
}
#freshproduce{
    position: absolute;
    right: 60px;
    bottom:175px;
    width: 350px;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
}
blockquote{
    width:425px;
    margin:10px;
    padding-left:30px;    
}
.products{
    position: relative;
    border-bottom: 2px outset black;
    padding-bottom: 20px;   
    padding-top:20px;
}
.branddiv{
    position: absolute;
    left:500px;
    top:0;
    width: 400px;  
    height: 200px;
    text-align: center; 
}
.products img{
    width:350px;
    height: 200px;
    margin-left:100px;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
    object-fit: cover;
    background-color: white;
}
.products h2{
    padding-top: 10px;
    color: rgb(180, 58, 58);
    text-shadow: 1px 1px black;
}
@media (max-width:1000px) {
    header .menu{
        display: block;
    }
    nav {
        display: none;
    }
    header {
        position: relative;
        
    }
    header h1 {
        text-align: center;
        width: 100%
    }
    /* .navbar .navbar-nav {
        display: inline-block;
        float: none;
    } */
    /* .navbar .navbar-collapse {
        text-align: center;
    } */
    .burger{
        text-decoration: none;
        color:black;
        text-align: left;
        padding-top:5px;
    }
    /* #hide{
        color:rgb(44, 43, 43);
        box-sizing: content-box;
        padding-bottom: 10px;
    } */
    #welcomepane{
        display: none;
    }
    img {
        display:inline;
    }
    .content {
            width: 100%;
    }
    .content div{
        width:100%;
    }
}