*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(white, rgb(93, 93, 226));
    background-repeat: no-repeat;
    margin: 0;
    padding:0;
}
header {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(26, 26, 80);
}
nav {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: aliceblue;
    
}
main {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}
footer {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    margin-top: 0;
    font-style: italic;
    vertical-align: top;
}
img {
    width: 500px;
    box-shadow: inset 20px 20px 20px black;
}
p{
    padding: 0 10px 10px 10px;
}
h2 {
  padding: 10px;  
}
