*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(white, rgb(93, 93, 226));
    background-repeat: no-repeat;
}
header {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(26, 26, 80);
}
nav {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: aliceblue;
    padding: 0;
}
main {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

img {
    width: 500px;
}