*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}
header{
    text-align: center;
    font-size: 45px;
    border-bottom: 2px solid black;
    padding:30px;
}
main{
    flex-grow: 1;
    padding-bottom: 80px;
}
#middle{
    display: flex;
    flex-direction: row;
}
#middle h1{
    padding-left: 30px;
}
#middle p{
    padding:0 30px 20px 30px;
}

/* Right Pane */
#right{
    flex-grow: 1;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    margin:30px;
}
/* #right div:nth-child(1){
    width: 250px;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    margin:10px;
    padding:0 30px 30px 30px;
} */
/* #right h2{
    padding-top: 20px;
} */
/* #right div:nth-child(2){
    width: 250px;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    margin:10px;
    padding:0 30px 30px 30px;
    background-color: cadetblue;
} */
#right #katie-image{
    border-radius: 25px;
    box-shadow: 0 0 10px black;
}

/* Left Pane */
#left{
    width: 100%;
    height: auto;
    flex-grow: 1;
    text-align: center;
    padding: 15px;
    padding-right: 50px;
    margin:30px;
}
#welcome{
    background-color: rgb(109, 114, 102);
    text-align: center;
    padding:10px;
    border-radius: 25px;
    color: white;
}
.socials {
    height:65px;
    width: 65px;
    display:inline-block;
    padding: 5px;
    border-radius: 50px;
}
.socialmedia {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
.socials:hover {
    opacity: 0.7;
    transform: scale(1.1,1.1);
}
/* Navigation and header */

#pagetitle{
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    padding-left: 50px;
    color: rgb(233,242,208);
}
.menu .current{
    background-color: rgb(55, 75, 0);
    color: rgb(233,242,208);
}
header:first-child{
    background-color: rgb(132, 161, 54);
    color:black;
    padding:1px;
    padding-left: 10px;
}
nav {
    border-bottom: 2px solid black;
}
nav > ul {
    background-color: rgb(233,242,208);
    color: white;
    margin:0;
    padding: 5px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.menu{
    display: inline;
    color: white;
    text-align: center;
    position: relative; 
    z-index: 1;
}
.menu a{
    text-decoration: none;
    color:black;
    padding:5px 16px 5px 16px;
    font-size: 20px;
}
.toplevel{
 border-right: 3px solid white;
}
.menu div{
    position: absolute;
    top: 100%;
    padding: 0;
    left: 0;
    width: 100px;
    background-color:rgb(233,242,208);
    box-shadow: 5px 5px 5px black;
    width:auto;
    text-align: left;
    transform: translateY(5px);
}
.menu div ul{
    padding:0;
    list-style: none;
}
.menu li + li {
    border-top: 2px solid white;
    border-collapse: separate;
}
body .submenu ul{    
    display: none;
}
.menu:hover ul{
    display: block;
}
.submenu li{
    padding:5px;
}
.submenu li:hover{
    cursor: pointer;
    background-color: rgb(55, 75, 0);
    transform: scale(1.05,1.05);
}
.menu a:hover{
    cursor: pointer;
    background-color: rgb(55, 75, 0);
    color: rgb(233,242,208)
}
header .menu{
    display: none;
}

@media (max-width:1000px) {
    #middle{
        flex-direction: column;
    }
    #left img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #right img{
        width:85%;
    }
    main{
        padding: 40px;
    }
    /* #right div:nth-child(1){
        width: 100%;
    }
    #right div:nth-child(2){
        width: 100%;
    } */

    header .menu{
        display: block;
    }
    nav {
        display: none;
    }
    header {
        position: relative;
        
    }
    header h1 {
        text-align: center;
        width: 100%
    }
    .burger{
        text-decoration: none;
        color:black;
        text-align: left;
        padding-top:5px;
    }
}
