*{
    box-sizing: border-box;
}

/* Main content */
main{
    width: 100%;
    flex-grow: 1;
    padding-bottom: 80px;
}
/* Recipe pages */
.recipe{
    position: relative;
    padding-right: 40%;
    padding-bottom: 50px;
}
.recipename{
    margin: 0;
    padding-top: 10px;  
    color: rgb(180, 58, 58);
    text-shadow: 1px 1px black;
}
.image-container{
    position: absolute; 
    right:0px;
    top:0px;
}
.image-container img{
    width: 40%;
    height:auto;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    margin:10px;
    float:right;
    margin-top:60px;
    margin-right: 30px;
    max-width: 100%;
}
.mealtype {
    margin-top:75px;
    font-size: 40px;
}
.recipe h2{
    font-size: 28px;
}
/* #carnitas{
    width:300px;
    top: 0;
    right:0px;
}
#chili{
    width:60%;
    }
#quinoa{
    width:60%;
    }
     */

/* Personal Pantry */
.products{
    position: relative;
    border-bottom: 2px outset black;
    padding-bottom: 20px;   
    padding-top:20px;
    width: 800px;
}
.branddiv{
    position: absolute;
    left: 370px;
    top: 0;
    text-align: center;
}
.products img{
    width:350px;
    height:200px;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
    object-fit: cover;
    
}
.products h2{
    padding-top: 10px;
    color: rgb(180, 58, 58);
    text-shadow: 1px 1px black;
}   
/* Pantry tips */
#right .tips-images{
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    margin-top: 30px;
}
figcaption{
    margin-bottom:20%;
    text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin:.5em;
}
/* Helping Hand */
#right #help-facts{
    width:475px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
}
iframe{
    width:600px;
    height: 335px;
}
blockquote{
    width:75%;
    margin-left: auto;
    margin-right: auto;
    padding-left:30px;    
}

#middle{
    display: flex;
    flex-direction: row;
}
#middle h1{
    padding-left: 30px;
}
#middle p{
    padding:0 30px 20px 30px;
}

/* Right Pane */
#right{
    flex-grow: 1;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    margin:30px;
}

#right #katie-image{
    border-radius: 25px;
    box-shadow: 0 0 10px black;
}


/* Left Pane */
#left{
    width: 100%;
    height: auto;
    flex-grow: 1;
    text-align: center;
    padding: 15px;
    padding-right: 50px;
    margin:30px;
}
#welcome{
    max-width: 320px;
    background-image:url(http://eskipaper.com/images/free-hd-background-2.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    text-align: center;
    padding:10px;
    border-radius: 25px;
    color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
}
.socials {
    height:65px;
    width: 65px;
    display:inline-block;
    padding: 5px;
    border-radius: 50px;
}
.socialmedia {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
.socials:hover {
    opacity: 0.7;
    transform: scale(1.1,1.1);
}
/* Navigation and header */

body{
    margin: 0;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}
header{
    text-align: center;
    font-size: 45px;
    border-bottom: 2px solid black;
    padding:30px;
}
#pagetitle{
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    padding-left: 50px;
    color: rgb(233,242,208);
}
.menu .current{
    background-color: rgb(55, 75, 0);
    color: rgb(233,242,208);
}
header:first-child{
    background-color: rgb(132, 161, 54);
    color:black;
    padding:1px;
    padding-left: 10px;
}
nav {
    border-bottom: 2px solid black;
}
nav > ul {
    background-color: rgb(233,242,208);
    color: white;
    margin:0;
    padding: 5px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.menu{
    display: inline;
    color: white;
    text-align: center;
    position: relative; 
    z-index: 1;
}
.menu a{
    text-decoration: none;
    color:black;
    padding:5px 16px 5px 16px;
    font-size: 20px;
}
.toplevel{
 border-right: 3px solid white;
}
.menu div{
    position: absolute;
    top: 100%;
    padding: 0;
    left: 0;
    width: 100px;
    background-color:rgb(233,242,208);
    box-shadow: 5px 5px 5px black;
    width:auto;
    text-align: left;
    transform: translateY(5px);
}
.menu div ul{
    padding:0;
    list-style: none;
}
.menu li + li {
    border-top: 2px solid white;
    border-collapse: separate;
}
body .submenu ul{    
    display: none;
}
.menu:hover ul{
    display: block;
}
.submenu li{
    padding:5px;
}
.submenu li:hover{
    cursor: pointer;
    background-color: rgb(55, 75, 0);
    transform: scale(1.05,1.05);
}
.menu a:hover{
    cursor: pointer;
    background-color: rgb(55, 75, 0);
    color: rgb(233,242,208)
}
header .menu{
    display: none;
}

@media (max-width:1000px) {
    #pagetitle{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 10px;
    }
    #middle{
        flex-direction: column;
    }
    #left img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #right img{
        width:85%;
    }
    main{
        padding: 40px;
    }
    .image-container{
        position: static;
    }
    #headerlist{
        display:none;
    }
    #hide{
        padding-bottom:15px;
    }
    #hide:hover > #headerlist {
        display: block;
    }
    header .menu{
        display: block;
    }
    nav {
        display: none;
    }
    header {
        position: relative;
    }
    header h1 {
        text-align: center;
        width: 100%
    }
    .burger{
        text-decoration: none;
        color:black;
        text-align: left;
        padding-top:5px;
    }
    .image-container{
       display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }   
    .image-container img{
        width:70%;
        /* display: none;    */
        margin-left: auto;
        margin-right: auto;
    }
    .recipe {
        display: block;
        padding-right: 0;
    }
    #right .tips-images{
        /* display: none; */
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    #right #help-facts{
        width:100%;
        margin-left: auto;
        margin-right:auto;
    }
    iframe{
        width: 100%;
    }
}
/* @media (max-width:850px){
.products{
    display: flex;
    flex-direction: column;
}
.products .prodimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.branddiv{
    display: block;
}
} */
