* {
    box-sizing: border-box;
  }
body{
    background:linear-gradient(to top, rgb(255, 155, 68),rgb(255, 225, 199));
}  
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box{
    width: 400px;
    height: 300px;
    border-style:solid;
    border-width: 5px;
    margin:20px;
}
.top{
    float:right;
    clear: both;
}
.middle{
    float:left;
    clear: both;
}
.bottom{
 float: right;
 clear: both;
}
.content1{
    width: 370px;
    height: 270px;
    background-color: pink;
    margin-left: 10px;
    margin-top: 10px;
}
.content2{
    width: 390px;
    height: 290px;
    background-color: pink;
}
.content3{
    width: 390px;
    height: 270px;
    background-color: pink;
    position:relative;
    right:200px;
    margin-top: 10px;
}
@media (max-width:800px) {
    main{
        display:inline-block;
        margin: 0;
        padding-top:20px;

    }

}